.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered1 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:monospace;
  font-weight: 900;
  font-size: 30px;
}
.container {
   background-color: white;
   position: relative;
   z-index: 1;
}
